In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('ouro2.csv')

In [3]:
df

            Data   Valor
0     13/06/2021  1868.0
1     06/06/2021  1879.6
2     30/05/2021  1892.0
3     23/05/2021  1905.3
4     16/05/2021  1878.9
...          ...     ...
1091  16/07/2000   280.1
1092  09/07/2000   281.1
1093  02/07/2000   283.2
1094  25/06/2000   290.1
1095  18/06/2000   282.7

[1096 rows x 2 columns]

In [4]:
from prophet import Prophet

ModuleNotFoundError: No module named 'prophet'